<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    .resultpage{
        background: black;
        color: honeydew;
        margin-right: 5px;
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 5px;

        }

    .num {
        color: honeydew;
        padding-left: 5px;
        padding-right: 5px;

    }
    .current{
        color: red;

    }
    .prev{color: honeydew;}
    .next{color: honeydew;}
    .last{color: honeydew;}
    .first{color: honeydew;}
    a{text-decoration: none}

</style>
<body>

<h1>212</h1>
<form action="__SELF__" method="post" enctype="multipart/form-data">

    <input type="file" name="upfile">
    <input type="text" name="ideas">

    <button type="submit">上传图片</button>

</form>



<table cellpadding=3 cellspacing=5>
    <volist name="list" id="vo">
        <tr>
            <td >[ {$vo.user_id} ] {$vo.user_id} </td>
        </tr>
    </volist>
    <tr>
    </tr>
</table>
<div class="resultpage" style="width: 500px">{$page}</div>




</body>
</html>