<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="__PUBLIC__/UEditor/ueditor.config.js"></script>
    <script src="__PUBLIC__/UEditor/ueditor.all.min.js"></script>
    <script src="__PUBLIC__/UEditor/lang/zh-cn/zh-cn.js"></script>
    <script src="__PUBLIC__/jquery-3.2.0.min.js"></script>
</head>

<script type="text/javascript" charset="utf-8">

    window.UEDITOR_HOME_URL = "__PUBLIC__/UEditor/";

    $(document).ready(function () {
        UE.getEditor('test_ue', {
            initialFrameHeight: 500,
            initialFrameWidth: 1100,
            serverUrl: "{:U(MODULE_NAME.'/Index/testUe')}"
        });
    });


</script>
<style>

    .resultpage{
        background: black;
        color: honeydew;
        margin-right: 5px;
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 5px;

        }

    .num {
        color: honeydew;
        padding-left: 5px;
        padding-right: 5px;
    }
    .current{color: red;}
    .prev{color: honeydew;}
    .next{color: honeydew;}
    .last{color: honeydew;}
    .first{color: honeydew;}
    a{text-decoration: none}

</style>
<body>


<textarea name="test_ue" id="test_ue" style="width:1024px;height:500px;"></textarea>



<form action="__SELF__" method="post" enctype="multipart/form-data">

    <input type="file" name="upfile[]">
    <input type="file" name="upfile[]">
    <input type="text" name="ideas">

    <button type="submit">上传图片</button>

</form>



<table cellpadding=3 cellspacing=5>
    <volist name="list" id="vo">
        <tr>
            <td >[ {$vo.user_id} ] {$vo.user_id} </td>
        </tr>
    </volist>
    <tr>
    </tr>
</table>
<div class="resultpage" style="width: 500px">{$page}</div>




</body>
</html>