<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Document</title>
    
     <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js" ></script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bh-1.2.min.css"/>
        <script type="text/javascript" src="http://res.wisedu.com/fe_components/bh_utils.js"></script>
        <script type="text/javascript" src="http://res.wisedu.com/fe_components/bh-1.2.min.js"></script>
        <script type="text/javascript" src="http://res.wisedu.com/fe_components/bhtc/moment/min/moment-with-locales.min.js"></script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bh-scenes-1.2.min.css"/>
        <script src="__PUBLIC__/js/app.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
	.juzhong1 { justify-content: center; align-items: center; display: -webkit-flex; }
</style>
</head>
<body>
<br />
<br />
<button type="button" onclick="test()"> 查看留言板 </button>
<div class="juzhong1" id="timeLine1" ></div>
<button type="button" onclick="addMsg()"> 编写留言 </button>




</body>

<script type="text/javascript">
function test(){
//	baseURL+"/demoforweblog/index.php
	var request = baseURL+"/demoforweblog/index.php/home/NodePad/showTiplist";
	
	jQuery.ajax({
			    url: request,
			    type: "get",	
			    dataTy:'JSON',
			})
			.done(function(data, textStatus, jqXHR) {
				var json = JSON.parse(data);
				$('#timeLine1').bhTimeLine({
			        data: json
			    });
			})
			.fail(function(jqXHR, textStatus, errorThrown) {
			    console.log('登录失败,请检查网络设置');
			})
			.always(function() {
				
			});


}
//
	
			    



</script>
</html>