<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div align="center">

    <form action="__URL__/loginIn" method="post">
        <label for=""> 用户名</label>
        <input type="text" name="username" placeholder="请输入用户名">
        </br>
        <label for=""> 密码</label>
        <input type="text" inputmode="password" placeholder="请输入密码" name="password">
            <button type="submit">登录</button>
    </form>

    <h3>hello,{$result}</h3>

</div>

</body>
</html>